<div class="header-big post-top css-color mb-4" id="search-bg">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-google"   data-id="group-a"><span>常用</span></label>
                        <label for="type-google1"  data-id="group-b"><span>搜尋</span></label>
                        <label for="type-github"   data-id="group-c"><span>工具</span></label>
                        <label for="type-youtube"  data-id="group-e"><span>影音</span></label>
                        <label for="type-shopee"   data-id="group-f"><span>購物</span></label>
                    </div>
                </div>
            </div>

            <form action="https://www.google.com/search?q=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" 
                    zhannei="" placeholder="輸入關鍵字搜尋" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" checked="checked"
                                id="type-google"
                                value="https://www.google.com/search?q=" 
                                data-placeholder="Google 搜尋">
                            <label for="type-google"><span class="text-muted">Google</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-youtube-a"
                                value="https://www.youtube.com/results?search_query=" 
                                data-placeholder="YouTube 搜尋">
                            <label for="type-youtube-a"><span class="text-muted">YouTube</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-wiki"
                                value="https://zh.wikipedia.org/wiki/" 
                                data-placeholder="維基百科搜尋">
                            <label for="type-wiki"><span class="text-muted">維基</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-gamer" 
                                value="https://acg.gamer.com.tw/search.php?kw=" 
                                data-placeholder="巴哈姆特 ACG 搜尋">
                            <label for="type-gamer"><span class="text-muted">巴哈姆特</span></label>
                        </li>
                    </ul>
                </div>

                <div class="search-group group-b">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-google1"
                                value="https://www.google.com/search?q=" 
                                data-placeholder="Google 搜尋">
                            <label for="type-google1"><span class="text-muted">Google</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-bing"
                                value="https://cn.bing.com/search?q=" 
                                data-placeholder="Microsoft Bing 搜尋">
                            <label for="type-bing"><span class="text-muted">Bing</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-yahoo"
                                value="https://tw.search.yahoo.com/search?p=" 
                                data-placeholder="Yahoo 奇摩搜尋">
                            <label for="type-yahoo"><span class="text-muted">Yahoo</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-duck"
                                value="https://duckduckgo.com/?q=" 
                                data-placeholder="DuckDuckGo 隱私搜尋"> 
                            <label for="type-duck"><span class="text-muted">DuckGo</span></label>
                        </li>
                    </ul>
                </div>

                <div class="search-group group-c">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-github"
                                value="https://github.com/search?q="
                                data-placeholder="GitHub 專案/代碼搜尋">
                            <label for="type-github"><span class="text-muted">GitHub</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-translate"
                                value="https://translate.google.com/?sl=auto&tl=zh-TW&text=" 
                                data-placeholder="Google 翻譯">
                            <label for="type-translate"><span class="text-muted">翻譯</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-stackoverflow"
                                value="https://stackoverflow.com/search?q=" 
                                data-placeholder="StackOverflow 問題搜尋">
                            <label for="type-stackoverflow"><span class="text-muted">StackOver</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-maps"
                                value="https://www.google.com/maps/search/"
                                data-placeholder="Google 地圖搜尋">
                            <label for="type-maps"><span class="text-muted">地圖</span></label>
                        </li>
                    </ul>
                </div>

                <div class="search-group group-e">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-youtube" 
                                value="https://www.youtube.com/results?search_query=" 
                                data-placeholder="YouTube 搜尋">
                            <label for="type-youtube"><span class="text-muted">YouTube</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-netflix" 
                                value="https://www.netflix.com/search?q=" 
                                data-placeholder="Netflix 搜尋">
                            <label for="type-netflix"><span class="text-muted">Netflix</span></label> 
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-twitch" 
                                value="https://www.twitch.tv/search?term=" 
                                data-placeholder="Twitch 直播搜尋">
                            <label for="type-twitch"><span class="text-muted">Twitch</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-bilibili" 
                                value="https://search.bilibili.com/all?keyword=" 
                                data-placeholder="Bilibili 搜尋">
                            <label for="type-bilibili"><span class="text-muted">Bilibili</span></label>
                        </li>
                    </ul>
                </div>

                <div class="search-group group-f">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" 
                                id="type-shopee" 
                                value="https://shopee.tw/search?keyword=" 
                                data-placeholder="蝦皮購物搜尋">
                            <label for="type-shopee"><span class="text-muted">蝦皮</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-momo" 
                                value="https://m.momoshop.com.tw/search.momo?searchKeyword=" 
                                data-placeholder="Momo 購物網">
                            <label for="type-momo"><span class="text-muted">Momo</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-pchome" 
                                value="https://ecshweb.pchome.com.tw/search/v3.3/?q=" 
                                data-placeholder="PChome 24h">
                            <label for="type-pchome"><span class="text-muted">PChome</span></label>
                        </li>
                        <li><input hidden="" type="radio" name="type" 
                                id="type-amazon" 
                                value="https://www.amazon.com/s?k=" 
                                data-placeholder="Amazon US">
                            <label for="type-amazon"><span class="text-muted">Amazon</span></label>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
</div>
