<footer class="main-footer footer-type-1 text-xs">
    <div id="footer-tools" class="d-flex flex-column">
        <a href="javascript:" id="go-to-up" class="btn rounded-circle go-up m-1" rel="go-top">
            <i class="iconfont icon-to-up"></i>
        </a>
        
        <a href="javascript:" data-toggle="modal" data-target="#search-modal" class="btn rounded-circle m-1"
            rel="search" one-link-mark="yes">
            <i class="iconfont icon-search"></i>
        </a>
        
        <a href="mailto:tsai97216@gmail.com" class="btn rounded-circle kefu m-1" data-toggle="tooltip" data-placement="left" title="聯絡我">
            <i class="fa fa-envelope"></i>
        </a>

        {{ if $.Site.Params.nightMode }} 
        <a href="javascript:" onclick="window.location.href='javascript:switchNightMode()'" class="btn rounded-circle switch-dark-mode m-1" id="yejian"
            data-toggle="tooltip" data-placement="left" title="切換為日間模式">
            <i class="mode-ico iconfont icon-light"></i>
        </a>
        {{ else }}
        <a href="javascript:" onclick="window.location.href='javascript:switchNightMode()'" class="btn rounded-circle switch-dark-mode m-1" id="yejian"
            data-toggle="tooltip" data-placement="left" title="切換為夜間模式">
            <i class="mode-ico iconfont icon-night"></i>
        </a>
        {{ end }}
    </div>

    <div class="footer-inner">
        <div class="footer-text">{{ replace $.Site.Params.footer.copyright "{year}" now.Year | markdownify }}</div>
    </div>
</footer>

</div></div>

<div class="modal fade search-modal" id="search-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="search" class="s-search mx-auto my-4">
                    <div id="search-list" class="hide-type-list">
                        
                        <div class="s-type">
                            <span></span>
                            <div class="s-type-list">
                                <label for="m_type-google"   data-id="group-a">常用</label>
                                <label for="m_type-google1"  data-id="group-b">搜尋</label>
                                <label for="m_type-github"   data-id="group-c">工具</label>
                                <label for="m_type-youtube"  data-id="group-e">影音</label>
                                <label for="m_type-shopee"   data-id="group-f">購物</label>
                            </div>
                        </div>

                        <div class="search-group group-a"><span class="type-text text-muted">常用</span>
                            <ul class="search-type">
                                <li><input checked="checked" hidden="" type="radio" name="type2" 
                                        id="m_type-google" value="https://www.google.com/search?q=" data-placeholder="Google 搜尋">
                                    <label for="m_type-google"><span class="text-muted">Google</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" 
                                        id="m_type-youtube-a" value="https://www.youtube.com/results?search_query=" data-placeholder="YouTube 搜尋">
                                    <label for="m_type-youtube-a"><span class="text-muted">YouTube</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" 
                                        id="m_type-wiki" value="https://zh.wikipedia.org/wiki/" data-placeholder="維基百科">
                                    <label for="m_type-wiki"><span class="text-muted">維基</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" 
                                        id="m_type-gamer" value="https://acg.gamer.com.tw/search.php?kw=" data-placeholder="巴哈姆特 ACG">
                                    <label for="m_type-gamer"><span class="text-muted">巴哈姆特</span></label>
                                </li>
                            </ul>
                        </div>

                        <div class="search-group group-b"><span class="type-text text-muted">搜尋</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-google1"
                                        value="https://www.google.com/search?q=" data-placeholder="Google 搜尋">
                                    <label for="m_type-google1"><span class="text-muted">Google</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-bing"
                                        value="https://cn.bing.com/search?q=" data-placeholder="Microsoft Bing">
                                    <label for="m_type-bing"><span class="text-muted">Bing</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-yahoo"
                                        value="https://tw.search.yahoo.com/search?p=" data-placeholder="Yahoo 奇摩搜尋">
                                    <label for="m_type-yahoo"><span class="text-muted">Yahoo</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-duck"
                                        value="https://duckduckgo.com/?q=" data-placeholder="DuckDuckGo 隱私搜尋">
                                    <label for="m_type-duck"><span class="text-muted">DuckGo</span></label>
                                </li>
                            </ul>
                        </div>

                        <div class="search-group group-c"><span class="type-text text-muted">工具</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-github"
                                        value="https://github.com/search?q=" data-placeholder="GitHub 專案/代碼">
                                    <label for="m_type-github"><span class="text-muted">GitHub</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-translate"
                                        value="https://translate.google.com/?sl=auto&tl=zh-TW&text=" data-placeholder="Google 翻譯">
                                    <label for="m_type-translate"><span class="text-muted">翻譯</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-stackoverflow"
                                        value="https://stackoverflow.com/search?q=" data-placeholder="StackOverflow 問題">
                                    <label for="m_type-stackoverflow"><span class="text-muted">StackOver</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-maps"
                                        value="https://www.google.com/maps/search/" data-placeholder="Google 地圖">
                                    <label for="m_type-maps"><span class="text-muted">地圖</span></label>
                                </li>
                            </ul>
                        </div>

                        <div class="search-group group-e"><span class="type-text text-muted">影音</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-youtube"
                                        value="https://www.youtube.com/results?search_query=" data-placeholder="YouTube 搜尋">
                                    <label for="m_type-youtube"><span class="text-muted">YouTube</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-netflix"
                                        value="https://www.netflix.com/search?q=" data-placeholder="Netflix 搜尋">
                                    <label for="m_type-netflix"><span class="text-muted">Netflix</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-twitch"
                                        value="https://www.twitch.tv/search?term=" data-placeholder="Twitch 直播">
                                    <label for="m_type-twitch"><span class="text-muted">Twitch</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-bilibili"
                                        value="https://search.bilibili.com/all?keyword=" data-placeholder="Bilibili 搜尋">
                                    <label for="m_type-bilibili"><span class="text-muted">Bilibili</span></label>
                                </li>
                            </ul>
                        </div>

                        <div class="search-group group-f"><span class="type-text text-muted">購物</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-shopee"
                                        value="https://shopee.tw/search?keyword=" data-placeholder="蝦皮購物">
                                    <label for="m_type-shopee"><span class="text-muted">蝦皮</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-momo"
                                        value="https://m.momoshop.com.tw/search.momo?searchKeyword=" data-placeholder="Momo 購物">
                                    <label for="m_type-momo"><span class="text-muted">Momo</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-pchome"
                                        value="https://ecshweb.pchome.com.tw/search/v3.3/?q=" data-placeholder="PChome 24h">
                                    <label for="m_type-pchome"><span class="text-muted">PChome</span></label>
                                </li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-amazon"
                                        value="https://www.amazon.com/s?k=" data-placeholder="Amazon US">
                                    <label for="m_type-amazon"><span class="text-muted">Amazon</span></label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <form action="https://www.google.com/search?q=" method="get" target="_blank" class="super-search-fm">
                        <input type="text" id="m_search-text" class="form-control smart-tips search-key" zhannei=""
                               autocomplete="off" placeholder="輸入關鍵字搜尋" style="outline:0">
                        <button type="submit"><i class="iconfont icon-search"></i></button>
                    </form>
                    
                    <div class="card search-smart-tips" style="display: none">
                        <ul></ul>
                    </div>
                </div>

            </div>
            <div style="position: absolute;bottom: -40px;width: 100%;text-align: center;">
                <a href="javascript:" data-dismiss="modal"><i class="iconfont icon-close-circle icon-2x" style="color: #fff;"></i></a>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='{{ absURL "assets/js/jquery.ui.touch-punch.min-0.2.2.js" }}' id='jqueryui-touch-js'></script>
<script type='text/javascript' src='{{ absURL "assets/js/clipboard.min-5.6.2.js" }}' id='clipboard-js'></script>
<script type='text/javascript' src='{{ absURL "assets/js/tooltip-extend.js" }}' id='iplaycode-nav-js'></script>

<script type='text/javascript' id='popper-js-extra'>
/* <![CDATA[ */
// 主題核心參數設定
var theme = {
    "ajaxurl":"",
    "addico":"", 
    "order":"asc",
    "formpostion":"top",
    "defaultclass":"io-grey-mode",
    "isCustomize":"1",
    "icourl":"",
    "icopng":".png",
    "urlformat":"1",
    "customizemax":"10",
    "newWindow":"0",
    "lazyload":"1",
    "minNav":"1",
    "loading":"1",
    "hotWords":"google", 
    "classColumns":" col-sm-6 col-md-4 col-xl-5a col-xxl-6a ",
    "apikey":""
};
/* ]]> */
</script>

<script type='text/javascript' src='{{ absURL "assets/js/popper.min.js" }}' id='popper-js'></script>
<script type='text/javascript' src='{{ absURL "assets/js/bootstrap.min-4.3.1.js" }}' id='bootstrap-js'></script>
<script type='text/javascript' src='{{ absURL "assets/js/theia-sticky-sidebar-1.5.0.js" }}' id='sidebar-js'></script>
<script type='text/javascript' src='{{ absURL "assets/js/lazyload.min-12.4.0.js" }}' id='lazyload-js'></script>

{{ if $.Site.Params.expandSidebar }}
<script type='text/javascript' src='{{ absURL "assets/js/app-anim.js" }}' id='appanim-js'></script>
{{ else }}
<script type='text/javascript' src='{{ absURL "assets/js/app-mini.js" }}' id='appmini-js'></script>
{{ end }}

<script type="text/javascript">
    $(document).ready(function(){
        var siteWelcome = $('#loading');
        siteWelcome.addClass('close');
        setTimeout(function() {
            siteWelcome.remove();
        }, 600);
    });
</script>

<script>        
    $(document).ready(function(){
        // 處理網址錨點跳轉
        setTimeout(function () {
            if ($('a.smooth[href="' + window.location.hash + '"]')[0]) {
                $('a.smooth[href="' + window.location.hash + '"]').click();
            }else if (window.location.hash != '') {
                $("html, body").animate({
                    scrollTop: $(window.location.hash).offset().top - 90
                }, {
                    duration: 500,
                    easing: "swing"
                });
            }
        }, 300);

        // 點擊事件處理
        $(document).on('click','a.smooth',function(ev) {
            // 如果側邊欄是開啟狀態，點擊後自動收起
            if($('#sidebar').hasClass('show') && !$(this).hasClass('change-href')){
                $('#sidebar').modal('toggle');
            }
            // 平滑捲動效果
            if($(this).attr("href").substr(0, 1) == "#"){
                $("html, body").animate({
                    scrollTop: $($(this).attr("href")).offset().top - 90
                }, {
                    duration: 500,
                    easing: "swing"
                });
            }
            // 點擊搜尋按鈕自動聚焦輸入框
            if($(this).hasClass('go-search-btn')){
                $('#search-text').focus();
            }
            // 處理 Tab 切換
            if(!$(this).hasClass('change-href')){
                var menu =  $("a"+$(this).attr("href"));
                menu.click();
                toTarget(menu.parent().parent(),true,true);
            }
        });

        $(document).on('click','a.tab-noajax',function(ev) {
            var url = $(this).data('link');
            if(url)
                $(this).parents('.d-flex.flex-fill.flex-tab').children('.btn-move.tab-move').show().attr('href', url);
            else
                $(this).parents('.d-flex.flex-fill.flex-tab').children('.btn-move.tab-move').hide();
        });
        
    });
</script>

<script>
// 夜間模式邏輯
(function(){
    if(document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") === ''){
        // 自動模式：22:00 - 06:00 為夜間
        if(new Date().getHours() > 22 || new Date().getHours() < 6){
            document.body.classList.remove('io-black-mode');
            document.body.classList.add('io-grey-mode');
            document.cookie = "night=1;path=/";
            console.log('夜間模式開啟');
        }else{
            document.body.classList.remove('night');
            document.cookie = "night=0;path=/";
            console.log('夜間模式關閉');
        }
    }else{
        var night = document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") || '0';
        if(night == '0'){
            document.body.classList.remove('night');
        }else if(night == '1'){
            document.body.classList.add('night');
        }
    }
})();

// 設定預設背景圖
$("#search-bg").css("background-image", "url({{ $.Site.Params.images.searchImageL }})");

// 切換模式函數
function switchNightMode(){
    var night = document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") || '0';
    
    if(night == '0'){
        // 切換為夜間
        $("#search-bg").css("background-image", "url({{ $.Site.Params.images.searchImageD }})");
        document.body.classList.remove('io-grey-mode');
        document.body.classList.add('io-black-mode');
        document.cookie = "night=1;path=/"
        console.log('切換為夜間模式');
        $(".switch-dark-mode").attr("data-original-title","日間模式");
        $(".mode-ico").removeClass("icon-night");
        $(".mode-ico").addClass("icon-light");
    }else{
        // 切換為日間
        $("#search-bg").css("background-image", "url({{ $.Site.Params.images.searchImageL }})")
        document.body.classList.remove('io-black-mode');
        document.body.classList.add('io-grey-mode');
        document.cookie = "night=0;path=/"
        console.log('切換為日間模式');
        $(".switch-dark-mode").attr("data-original-title","夜間模式");
        $(".mode-ico").removeClass("icon-light");
        $(".mode-ico").addClass("icon-night");
    }
}
</script>

<script>
    function copyToClipboard(text) {
        // 優先使用現代 API
        if (navigator.clipboard && navigator.clipboard.writeText) {
            navigator.clipboard.writeText(text).then(() => {
                alert('✅ 複製成功！內容已存入剪貼簿。');
            }).catch(err => {
                console.error('複製失敗:', err);
                fallbackCopy(text);
            });
        } else {
            // 舊版瀏覽器兼容
            fallbackCopy(text);
        }
    }

    function fallbackCopy(text) {
        const textArea = document.createElement("textarea");
        textArea.value = text;
        
        // 避免在手機上拉起鍵盤或捲動到底部
        textArea.style.position = "fixed"; 
        textArea.style.left = "-9999px";
        textArea.style.top = "0";
        
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();
        
        try {
            document.execCommand('copy');
            alert('✅ 複製成功！');
        } catch (err) {
            console.error('Fallback: 複製失敗', err);
            alert('❌ 複製失敗，請手動選取複製。');
        }
        
        document.body.removeChild(textArea);
    }
</script>

</body>
</html>
